@charset "UTF-8";
* {
  --white: #ffff;
  --white-clear: rgba(80, 83, 123, 0.4);
  --white-off: rgba(255, 255, 255, 0.95);
  --y-white-clear: rgba(255, 255, 255, 0.7);
  --black: #2b2a2a;
  --main-color: #c4354f86;
  --main-color-clear: rgba(196, 53, 79, 0.2);
  --green: rgba(62, 196, 53, 0.359);
  --roboto: 'Roboto', sans-serif;
  --russo: 'Russo One', sans-serif;
  --raleway:'Raleway', sans-serif;
  --font-tiny: 85%;
  --font-medium: 140%;
  --font-regular: 120%;
  --content-tiny: 600px;
  --content-regular: 800px;
  --content-medium: 1200px;
  font-family: var(--raleway);
  scroll-behavior: smooth; }

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 16px; }

h1, h2, h3, h4, h5 {
  font-family: var(--russo);
  margin: 0;
  color: var(--white); }

p, li, table, th, ul {
  font-family: var(--raleway);
  font-weight: 100;
  color: var(--white);
  list-style: none;
  padding: 0; }

button {
  margin: 0;
  padding: 0;
  border: none;
  background: none; }
  button:focus {
    outline: none; }

a {
  color: inherit;
  text-decoration: none; }

.welcome-page {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: auto; }

video {
  position: fixed;
  left: 0%;
  min-height: 100%;
  min-width: 100%;
  top: 0%;
  z-index: -100; }

#pop-up-menu {
  position: fixed;
  background-color: var(--white-clear);
  backdrop-filter: blur(20px);
  width: 100%;
  height: 100%;
  z-index: 100; }

#toolbar {
  position: fixed;
  bottom: 0;
  height: 4.5rem;
  width: 100%;
  background-color: var(--y-white-clear);
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: row; }
  #toolbar section {
    flex: 60%;
    margin: auto 3rem; }
    #toolbar section p {
      font-size: var(--font-tiny);
      margin: 0 0 0 auto;
      color: var(--black);
      max-width: var(--content-regular); }
    #toolbar section strong {
      font-size: var(--font-medium);
      display: inline;
      color: inherit;
      padding-right: .5rem; }
  #toolbar .buttons {
    flex: 30%;
    display: flex;
    margin: auto; }
    #toolbar .buttons .button-container {
      margin-right: 1rem; }
  @media (max-width: 1200px) {
    #toolbar {
      height: 5rem; }
      #toolbar section {
        margin: auto .5rem; }
      #toolbar .button-container .button {
        font-size: var(--font-tiny); } }
  @media (max-width: 768px) {
    #toolbar section,
    #toolbar .buttons {
      flex: 50%;
      justify-content: center; }
    #toolbar section p {
      text-align: right; }
    #toolbar section span {
      display: none; } }

#header {
  top: -4rem;
  position: fixed;
  width: 100%;
  height: 4rem;
  background-color: var(--white-clear);
  backdrop-filter: blur(10px);
  z-index: 999;
  transition: height 1s ease, top 1s ease; }
  #header.open {
    height: 100%;
    backdrop-filter: blur(30px); }
  #header.scrolled {
    top: 0; }
  #header .menu ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    margin: 0; }
    #header .menu ul li {
      height: 100%;
      font-size: var(--font-regular);
      cursor: pointer;
      position: relative;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 0 2rem;
      text-align: center;
      overflow: hidden; }
      #header .menu ul li::before {
        content: '';
        top: 100%;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: var(--main-color-clear);
        transition: all .5s ease; }
      #header .menu ul li:hover::before {
        top: 0; }
  @media (max-width: 768px) {
    #header .menu ul {
      opacity: 0;
      flex-direction: column; }
      #header .menu ul li {
        height: auto;
        font-size: var(--font-medium);
        margin: 2rem auto; }
    #header.open .menu ul {
      opacity: 1; } }
  #header .burger-menu {
    position: absolute;
    width: 3rem;
    height: 4rem;
    right: 2rem;
    top: .25rem;
    z-index: 999999;
    cursor: pointer;
    display: none; }
    #header .burger-menu span {
      position: absolute;
      width: 100%;
      height: 7px;
      border-radius: 50rem;
      background-color: var(--white-clear);
      transition: all .5s ease; }
      #header .burger-menu span:nth-child(1) {
        top: .5rem; }
      #header .burger-menu span:nth-child(2) {
        top: 1.5rem; }
      #header .burger-menu span:nth-child(3) {
        top: 2.5rem; }
    #header .burger-menu:hover span {
      background-color: var(--main-color);
      box-shadow: 0 0 2px var(--white-clear); }
      #header .burger-menu:hover span:nth-child(1) {
        transform: rotate(45deg);
        top: 1.5rem; }
      #header .burger-menu:hover span:nth-child(2) {
        opacity: 0; }
      #header .burger-menu:hover span:nth-child(3) {
        transform: rotate(-45deg);
        top: 1.5rem; }
    @media (max-width: 768px) {
      #header .burger-menu {
        display: inherit; } }

.button-container {
  text-transform: uppercase;
  border: 1px solid var(--main-color-clear);
  padding: 0.5rem .75rem;
  cursor: pointer;
  position: relative;
  width: fit-content; }
  .button-container .button {
    font-family: var(--raleway);
    font-size: var(--font-regular);
    font-weight: 100;
    color: var(--black);
    transition: all .5s ease; }
  .button-container::before {
    top: .5rem;
    left: .5rem;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--main-color-clear);
    transition: all .5s ease; }
  .button-container:hover .button {
    text-shadow: 0 0 1px var(--black); }
  .button-container:hover::before {
    top: 0;
    left: 0; }

#preferences {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 8000;
  background: var(--main-color);
  backdrop-filter: blur(100px);
  padding: 1rem 0;
  border-radius: 2rem;
  height: fit-content;
  transition: all 1s ease;
  width: 100%;
  max-width: var(--content-tiny); }
  #preferences .menu li {
    width: 100%;
    background: var(--white-off);
    color: var(--black);
    font-size: var(--font-medium);
    font-weight: 100;
    height: 2rem;
    text-align: center;
    border-top: 1px solid var(--main-color-clear);
    cursor: pointer;
    overflow: hidden;
    position: relative; }
    #preferences .menu li:first-child {
      border-top: 0; }
    #preferences .menu li:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: var(--main-color-clear);
      left: -100%;
      top: 0;
      transition: left .5s ease; }
    #preferences .menu li:hover::before {
      left: 0; }
    #preferences .menu li.active:before {
      left: 0; }
  #preferences .button-container {
    margin: 0 2rem .5rem auto;
    border-color: var(--white-clear); }
    #preferences .button-container:before {
      background-color: var(--white-clear); }
    #preferences .button-container .button {
      color: var(--white);
      font-weight: 500; }
  #preferences p {
    padding: 1rem 2rem;
    font-size: var(--font-regular); }

.policy {
  display: flex;
  flex-direction: column; }
  .policy .toggle-btn {
    border: 1px solid var(--white-clear);
    padding: .75rem 2rem;
    width: 8rem;
    text-transform: uppercase;
    margin: auto;
    color: var(--white);
    font-weight: 600;
    position: relative;
    cursor: pointer; }
    .policy .toggle-btn:before {
      content: '';
      position: absolute;
      width: 50%;
      height: 100%;
      top: .5rem;
      transition: all .5s ease; }
    .policy .toggle-btn:hover::before {
      top: 0; }
    .policy .toggle-btn.off:hover::before {
      left: 0; }
    .policy .toggle-btn.on:hover::before {
      left: 50%; }
    .policy .toggle-btn.off::before {
      left: 5%;
      background-color: var(--main-color); }
    .policy .toggle-btn.on::before {
      left: 55%;
      background-color: var(--green); }

.welcome-page .title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-size: 400%;
  background-color: var(--white-clear);
  padding: 2rem;
  border-radius: 1rem;
  backdrop-filter: blur(3px); }
  @media (max-width: 1200px) {
    .welcome-page .title {
      font-size: 200%;
      padding: 1.5rem; } }
  @media (max-width: 768px) {
    .welcome-page .title {
      font-size: 100%;
      padding: 1rem; } }

.inner {
  padding: 3rem 4rem;
  background: var(--white-clear);
  backdrop-filter: blur(30px);
  border-radius: 1rem;
  margin: auto; }
  @media (max-width: 768px) {
    .inner {
      padding: 2rem 1rem; } }

#about, #main, #services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding-bottom: 10rem; }
  @media (max-width: 768px) {
    #about, #main, #services {
      padding-bottom: 5rem; } }

#about .inner {
  font-size: var(--font-medium);
  max-width: var(--content-tiny); }
  #about .inner ul li {
    padding-top: 1rem;
    position: relative; }
    #about .inner ul li:before {
      content: '✓';
      color: var(--black);
      font-size: 2rem;
      left: -3rem;
      top: 1rem;
      position: absolute;
      width: 2rem;
      height: 2rem;
      background-color: var(--main-color);
      border-radius: 1rem;
      text-align: center;
      line-height: 1.1; }
  @media (max-width: 768px) {
    #about .inner ul li {
      padding-left: 2rem; }
      #about .inner ul li::before {
        left: -.5rem; } }

#main .inner {
  max-width: var(--content-medium);
  display: flex; }
  #main .inner .image-container {
    flex: 0 0 40%;
    width: auto;
    height: auto;
    overflow: hidden;
    margin: auto; }
    #main .inner .image-container img {
      width: 100%;
      height: auto;
      border-radius: 1rem; }
  #main .inner .what-we-do {
    flex: 0 0 60%;
    margin: auto 0;
    padding: 2rem; }
    #main .inner .what-we-do li {
      font-size: var(--font-medium);
      line-height: 1.5;
      padding: 2rem 0; }
  @media (max-width: 768px) {
    #main .inner {
      flex-direction: column; } }

#wrapper {
  background-color: var(--white-off);
  border-top: 2px solid var(--main-color); }

#services {
  padding-top: 5rem; }
  #services h3 {
    color: var(--main-color);
    font-size: var(--font-medium);
    letter-spacing: 2px; }
  #services .projects,
  #services .partners {
    max-width: var(--content-medium); }
    @media (max-width: 768px) {
      #services .projects,
      #services .partners {
        padding-top: 5rem; } }
  #services .projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: auto; }
    #services .projects li {
      padding: 1rem;
      border: 0px solid var(--main-color-clear); }
      #services .projects li:nth-child(1) {
        border-right-width: 1px;
        border-bottom-width: 1px; }
      #services .projects li:nth-child(2) {
        border-bottom-width: 1px; }
      #services .projects li:nth-child(3) {
        border-right-width: 1px; }
    #services .projects p {
      color: var(--black); }
    #services .projects p {
      font-size: var(--font-regular);
      line-height: 1.5; }
    @media (max-width: 768px) {
      #services .projects {
        padding: .2rem 0;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr; }
        #services .projects li {
          border-bottom-width: 1px; }
          #services .projects li:last-child {
            border-bottom-width: 0px; } }
  #services .partners {
    margin: auto; }
    #services .partners h3 {
      border-bottom: 1px solid var(--main-color-clear); }
    #services .partners ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
      #services .partners ul li {
        margin: 0 .3rem;
        flex: 0 0 15%;
        height: 6rem;
        width: 6rem;
        background-size: cover;
        cursor: pointer; }
        #services .partners ul li:nth-child(1) {
          background-image: url(../image/brands/brand.png); }
        #services .partners ul li:nth-child(2) {
          background-image: url(../image/brands/brand1.png); }
        #services .partners ul li:nth-child(3) {
          background-image: url(../image/brands/brand2.png); }
        #services .partners ul li:nth-child(4) {
          background-image: url(../image/brands/brand3.png); }
        #services .partners ul li:nth-child(5) {
          background-image: url(../image/brands/brand4.png); }
        #services .partners ul li:nth-child(6) {
          background-image: url(../image/brands/brand5.png); }
      @media (max-width: 768px) {
        #services .partners ul {
          display: block; }
          #services .partners ul li {
            margin: auto; } }

#footer {
  background-color: #c4354f;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem; }
  #footer .contacts, #footer .working-hours, #footer .support, #footer .get-started {
    margin: auto 2rem; }
    #footer .contacts li, #footer .contacts tr, #footer .working-hours li, #footer .working-hours tr, #footer .support li, #footer .support tr, #footer .get-started li, #footer .get-started tr {
      padding-bottom: .5rem; }
    @media (max-width: 768px) {
      #footer .contacts, #footer .working-hours, #footer .support, #footer .get-started {
        margin: 2rem auto; } }
  @media (max-width: 768px) {
    #footer {
      flex-direction: column; } }
  #footer .working-hours th {
    text-align: right; }
  #footer .support li,
  #footer .get-started li {
    cursor: pointer; }
    #footer .support li:hover,
    #footer .get-started li:hover {
      text-decoration: underline; }

/*# sourceMappingURL=index.css.map */
